-# https://nicepage.com/website-templates/preview/exclusive-apartments-4491331?device=laptop
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Лучшая недвижимость
    %link{:rel => "stylesheet", :href => "style.css"}
  %body
    .wrapper
      %nav.menu
        .menu__item Главная
        .menu__item Достижения
        .menu__item О нас
        .menu__item Команда
        .menu__item Галерея
        .menu__item Контакты
      .banner
        %h1.banner__header Лучший способ найти идеальную недвижимость
        %p.banner__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae dolorum soluta nam ut! Reprehenderit voluptatem ab adipisci ea ratione perferendis sed rerum cum nisi enim?
        %form.banner__form
          %input.banner__form__email{:id => "email", :type => "email", :name => "email", :placeholder => "Введите действительный e-mail адрес"}
          %button.banner__form__button{:type =>"submit"} ОТПРАВИТЬ
      .city
        .city__card
          .city__card__picture.city__card__picture__1
          %h5.city__card__header Москва
          %p.city__card__text 200 объектов
        .city__card
          .city__card__picture.city__card__picture__2
          %h5.city__card__header Санкт-Петербург
          %p.city__card__text 123 объекта
        .city__card
          .city__card__picture.city__card__picture__3
          %h5.city__card__header Сочи
          %p.city__card__text 189 объектов
      .property
        %h2.property__head Объекты для аренды
        %button.property__button ДОПОЛНИТЕЛЬНО
        .property__cards
          .property__card.property__card__1
            .property__card__description
              %h5.property__card__price ₽ 30.000
              %p.property__card__text Lorem ipsum, dolor sit amet consectetur adipisicing.
          .property__card.property__card__2
            .property__card__description
              %h5.property__card__price ₽ 45.000
              %p.property__card__text Iste eum eos officiis illo ab voluptas.
          .property__card.property__card__3
            .property__card__description
              %h5.property__card__price ₽ 42.000
              %p.property__card__text Necessitatibus quisquam voluptatibus tempore, quam.
          .property__card.property__card__4
            .property__card__description
              %h5.property__card__price ₽ 38.500
              %p.property__card__text Odio atque aliquam laborum sed fugit nulla.
          .property__card.property__card__5
            .property__card__description
              %h5.property__card__price ₽ 52.000
              %p.property__card__text Distinctio earum suscipit ipsam ipsa, incidunt libero.
          .property__card.property__card__6
            .property__card__description
              %h5.property__card__price ₽ 44.000
              %p.property__card__text Suscipit nam provident quaerat? Dolorum, equa.
      .sale
        .sale__options
          %h2.sale__options__header Оптимальные варианты покупки
          .sale__options__block
            .sale__options__card
              .sale__options__card__pic.sale__options__card__pic__1
              .sale__options__description
                %h5.sale__options__description__header Управление недвижимостью
                %p.sale__options__description__text Lorem ipsum dolor sit amet consectetur.
            .sale__options__card
              .sale__options__card__pic.sale__options__card__pic__2
              .sale__options__description
                %h5.sale__options__description__header Возможности ипотеки
                %p.sale__options__description__text Aliquam suscipit expedita maxime porro nam.
            .sale__options__card
              .sale__options__card__pic.sale__options__card__pic__3
              .sale__options__description
                %h5.sale__options__description__header Варианты оплаты
                %p.sale__options__description__text Accusamus, nesciunt aliquam! Reiciendis, atque quo!            
        .sale__picture
      .figures
        .figures__card
          .figures__card__number 155
          .figures__card__text Наград получено
        .figures__card
          .figures__card__number 1.128
          .figures__card__text Готовых объектов
        .figures__card
          .figures__card__number 15K
          .figures__card__text Удовлетворенных клиентов
      .object__types
        %h2.object__types__head Изучите варианты
        %button.object__types__button ДОПОЛНИТЕЛЬНО
        .object__types__cards
          .object__type__card
            .object__type__card__pic.object__type__card__pic__1
            %h5.object__type__card__text Офис
          .object__type__card
            .object__type__card__pic.object__type__card__pic__2
            %h5.object__type__card__text Дом
          .object__type__card
            .object__type__card__pic.object__type__card__pic__3
            %h5.object__type__card__text Апартаменты
      .large__form
        %h2.large__form__header Найди дом своей мечты
        %p.large__form__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, porro?
        %form.large__form__block
          .large__form__block__field
            %label Имя
            %input.large__form__input{:id => "name", :type => "text", :name => "name", :placeholder => "Введите имя"}
          .large__form__block__field
            %label Email
            %input.large__form__input{:id => "email", :type => "email", :name => "email", :placeholder => "Введите действительный e-mail"}
          %button.large__form__button{:type =>"submit"} ОТПРАВИТЬ
      %footer 
        %p.disclaimer Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur sequi ipsa ullam consectetur doloribus voluptatum odit error facilis cumque! Illum fugiat ipsum iste officiis id!
